<footer class="page-footer font-small bg-dark pt-4 pb-4">
  <div class="container">
    <div class="row">
      <div class="col-md-12 d-flex justify-content-center">
        <div class="edit_hover_class">
          <a href="https://www.linkedin.com/in/marcus-trummer-880196145/" class="text-color-white" id="linkedin" target="_blank"
            >linkedin
            <i
              class="fa fa-linkedin-square"
              aria-hidden="true"
              id="linkedin"
            ></i>
          </a>
        </div>
        <div class="edit_hover_class ms-3">
          <a href="https://www.instagram.com/marcustrummer/" class="text-color-white" id="instagram" target="_blank"
            >instagram
            <i class="fa fa-instagram" aria-hidden="true" id="instagram"></i>
          </a>
        </div>

        <div class="edit_hover_class ms-3">
          <a href="https://github.com/marcustrummer" class="text-color-white" id="github" target="_blank"
            >github
            <i class="fa fa-github" aria-hidden="true" id="github"></i>
          </a>
        </div>
        <div class="edit_hover_class ms-3">
          <a href="https://www.facebook.com/marcus.trummer.7" class="text-color-white" id="facebook" target="_blank"
            >facebook
            <i
              class="fa fa-facebook-square"
              aria-hidden="true"
              id="facebook"
            ></i>
          </a>
        </div>
        <div class="edit_hover_class ms-3">
          <a href="https://www.youtube.com/channel/UCGqK0hD2FQKy-rTUKKTtvTA" class="text-color-white" id="youtube" target="_blank"
            >youtube
            <i class="fa fa-youtube-play" aria-hidden="true" id="youtube"></i>
          </a>
        </div>

        <div class="edit_hover_class ms-3">
          <a href="https://twitter.com/trumminho" class="text-color-white" id="twitter" target="_blank"
            >twitter
            <i class="fa fa-twitter" aria-hidden="true" id="twitter"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</footer>
