<div class="container-fluid">
  <div class="row bgBlack central">
    <div class="col-6 bgBlack" id="divCol6">
      <h1 class="mt-1 c-dcthTY">Tools. Apps. Gear.</h1>

      <p>
        I've always dreamed this amazing setup but never had the condition
        nor time to build it. 
      </p>



      <p>
        So I decided to list every
        <strong class="text-white"
          >software and hardware </strong> that I plan on buying as well as my current
          setup.
        
        This not a static page, it's a <strong> living document </strong> with everything that I'm using nowadays.
      </p>

      <div class="d-flex flex-row mb-5 mt-5">
        <h3>
          <a href="#equipments">Office</a>
        </h3>
        <h3>
          <a href="#wishlist">WishList</a>
        </h3>
        <h3>
          <a href="#coding">Coding</a>
        </h3>
        <h3>
          <a href="#apps">Apps</a>
        </h3>
      </div>

      <div>
        <h2 class="text-white mb-4" id="equipments">Office</h2>
        <ul>
          <li>
            <a
              href="https://amzn.to/3TbjpOk"  target="_blank"
              >Laptop - Dell G1511 I7 (15.6", 2021) 16GB RAM 512GB SSD</a
            >
          </li>
          <li>
            <a
              href="https://amzn.to/3KgMP9x"  target="_blank"
              >(Secondary) Laptop - Asus VivoBook I5 (15.6", 2048) 8GB RAM 256GB
              SSD
            </a>
          </li>
          <li>
            <a target="_blank"
              href="https://amzn.to/3dREqx7"
              >Mouse - Logitech M170
            </a>
          </li>
          <li>
            <a
              href="https://amzn.to/3PMobyG"     target="_blank"
              >HeadPhone - Logitech H390</a
            >
          </li>
          <li>
            <a
              href="https://amzn.to/3AHt1cn"  target="_blank"
            >
              EarPod - Edifier W180T 
            </a>
          </li>
          <li>
            <a
              href="https://produto.mercadolivre.com.br/MLB-699857785-teclado-notebook-hp-g42-compaq-cq42-aeax1600110-pavilion-br
            -_JM?searchVariation=36121715324#searchVariation=361217
            15324&position=48&search_layout=grid&type=item&tracking_id=4df3a6ec-db46-4b78-b5de-09f5a9d4e9cd" target="_blank"
              >Keyboard - Compaq PR101U</a
            >
          </li>

          <li>
            <a
              href="https://amzn.to/3R3O7ab" target="_blank"
            >
              AirConditioner - LG DUAL Inverter Voice (Alexa integration) 9000
              BTUs Frio
            </a>
          </li>
        </ul>
      </div>

      <div>
        <h2 class="text-white" id="wishlist">WishList</h2>
        <ul>
          <li>
            <a
              href="https://amzn.to/3dUcSao"  target="_blank"
              >Apple - Watch series 7 45mm (GPS + Cellular)</a
            >
          </li>
          <li>
            <a
              href="https://amzn.to/3PEGGFv"  target="_blank"
            >
              EarPod - Apple Airpods Pro
            </a>
          </li>
          <li>
            <a
              href="https://www.flexform.com.br/loja/assentos/cadeira-de-escritorio/cadeira-de-escritorio-flexform-uni-me-all-black"        target="_blank"
            >
              Chair - Flexform Uni AllBlack
            </a>
          </li>
          <li>
            <a
              href="https://www.flexform.com.br/loja/acessorios/deskpad
                "     target="_blank" 
              >DeskPad - Flexform DeskPad (790mm x 295mm x 2mm )</a
            >
          </li>
          <li>
            <a
              href="https://www.amazon.com.br/Echo-Dot-3%C2%AA-Gera%C3%A7%C3%A3o-Cor-Preta/dp/B07PDHSJ1H/ref=asc_df_B07PDHSJ1H/?tag=googleshopp00-20&linkCode=df
                0&hvadid=387692590979&hvpos=&hvnetw=g&hvrand=3002895291121655269&hvpone=&hvptwo=&hvqmt=&hvdev=c&
                hvdvcmdl=&hvlocint=&hvlocphy=1031854&hvtargid=pla-823375121002&psc=1
                "   target="_blank"
            >
              EchoDot - Alexa 3rd EchoDot ( without clock )
            </a>
          </li>

          <li>
            <a target="_blank"
              href="https://amzn.to/3CvuTGq"
              >Keyboard - Keychron K3 d v2 thin wireless (75%)</a
            >
          </li>
        </ul>
      </div>

      <div>
        <h2 id="coding">Coding</h2>
        <ul>
          <li>
            <a href="https://spring.io/tools">Spring Suite Tools v4.1</a>
          </li>
        </ul>
      </div>
      <div>
        <h2 id="apps">Apps</h2>
        <ul>
          <li>
            <a
              href="https://open.spotify.com/"
              >Spotify</a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
