h1{
    font-size: 2.7rem;
    font-weight: bold;
    background: -webkit-linear-gradient(left, #ff80f0 0% , #80a2ff 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 15px;
  }
p{
  line-height: 1.8em;
}


h2{
  color: white;
}


h3{
  font-size: 18px;
  margin-right: 12pt;
}



li{
  margin-top: 5px;  
}


  .bgBlack{
    background-color: #000000;
  }

  div.fill{
    height: 100%;
    width: 100%;
    background-color: #000000;
  }


  strong, i , a{
    color: white;
  }

  a:hover{
    color: grey;
  }

  div#divCentral{
    display: flex;
    align-items: center;
    flex-direction: column;
  }