<div class="container-fluid">
  <div class="row bgBlack" id="divCentral">
    <div class="col-6 bgBlack" id="divCol6">
      <h1 class="mt-1">Tools. Apps. Gear.</h1>

      <p>
        I always wanted to have this amazing setup but never had the condition
        nor time to build it. Now that I do, I decided to list every
        <strong class="text-white"
          >software and hardware that I plan on buying as well as my current
          setup.</strong
        >
        As I update it, I will keep you guys up to date.
      </p>

      <div class="d-flex flex-row mb-5 mt-5">
        <h3>
          <a href="#equipments">Equipments</a>
        </h3>
        <h3>
          <a href="#wishlist">WishList</a>
        </h3>
        <h3>
          <a href="#coding">Coding</a>
        </h3>
        <h3>
          <a href="#apps">Apps</a>
        </h3>
      </div>

      <div>
        <h2 class="text-white mb-4" id="equipments">Equipments</h2>
        <ul>
          <li>
            <a
              href="https://www.dell.com/pt-br/shop/notebooks/notebook-gamer-dell-g15/spd/g-series-15-5511-laptop/g5511w3700w?
              gacd=9688255-15006-5761040-275357028-0&dgc=ST&cid=71700000068277848&gclid=Cj0KCQjwntCVBhDdARIsAMEwACmgHUYTIrTsMx
              1eufHpJ9isZuYPLKPUGjP422ndmN_RN2RiTXRICpMaAs_aEALw_wcB&gclsrc=aw.ds&nclid=ezvSWQ4cWQmDdBJoX6e-c7ac6Blg2UZWc8jtHJ0
              x6Eb-rjwoIK7NCts-snZllVWc"  target="_blank"
              >Laptop - Dell G1511 I7 (15.6", 2021) 16GB RAM 512GB SSD</a
            >
          </li>
          <li>
            <a
              href="https://www.amazon.com.br/Notebook-ASUS-X515JF-EJ153T-
              1035G1-Windows/dp/B097F86BCY/ref=sr_1_5?__mk_pt_BR=%C3%85M%C3
              %85%C5%BD%C3%95%C3%91&crid=4QU4MWTBA0V&keywords=asus+x512j&qid
              =1656026553&sprefix=asus+x512j%2Caps%2C159&sr=8-5"  target="_blank"
              >(Secondary) Laptop - Asus VivoBook I5 (15.6", 2048) 8GB RAM 256GB
              SSD
            </a>
          </li>
          <li>
            <a target="_blank"
              href="https://www.amazon.com.br/Mouse-Nanoreceptor-Inclusa-Logitech-Mouses/dp/B074L9L5KZ/ref=asc_df_B074L9L5KZ/?tag=googlesho
            pp00-20&linkCode=df0&hvadid=379707456874&hvpos=&hvne
            tw=g&hvrand=15792828092489762214&hvpone=&hvptwo=&hvqmt=&hvdev=c&hvdvcmdl=&hvlocint=&hvlocphy=1031854&hvtargid=pla-681537243737&th=1"
              >Mouse - Logitech M170
            </a>
          </li>
          <li>
            <a
              href="https://www.amazon.com.br/Headset-Est%C3%A9reo-Logitech-Microfones-Ouvido/dp/B000UXZQ42/ref=asc_df_B000UXZQ42/?tag=
            googleshopp00-20&linkCode=df0&hvadid=379712974695&hvpos=&hvnetw=g&hvrand=4040491865442886618&hvpone=&hvptwo=&hvqmt=&hvdev=c&
            hvdvcmdl=&hvlocint=&hvlocphy=1031854&hvtargid=pla-316724730694&psc=1
            "     target="_blank"
              >HeadPhone - Logitech H390</a
            >
          </li>
          <li>
            <a
              href="https://www.amazon.com.br/Ouvido-Intrauricular-Xiaomi-Redmi-AirDots/dp/B08ZHXGPSP/ref=sr_1_1?
            keywords=redmi%2Bairdots%2B3&qid=1656026983&sr=8-1&ufe=app_do%3Aamzn1.fos.25548f35-0de7-44b3-b28e-0f56
            f3f96147&th=1"  target="_blank"
            >
              EarPod - Xiaomi Airdots 3
            </a>
          </li>
          <li>
            <a
              href="https://produto.mercadolivre.com.br/MLB-699857785-teclado-notebook-hp-g42-compaq-cq42-aeax1600110-pavilion-br
            -_JM?searchVariation=36121715324#searchVariation=361217
            15324&position=48&search_layout=grid&type=item&tracking_id=4df3a6ec-db46-4b78-b5de-09f5a9d4e9cd" target="_blank"
              >Keyboard - Compaq PR101U</a
            >
          </li>
        </ul>
      </div>

      <div>
        <h2 class="text-white" id="wishlist">WishList</h2>
        <ul>
          <li>
            <a
              href="https://www.amazon.com.br/dp/B09L4D368B/ref=redir_mobile_desktop?_encoding=UTF8&aaxitk=cff1d90f7a803181d221fd24448bb847&content-id=amzn1.sym.3d22f59c-999
                f-414f-abf1-f4f8f78fce57%3Aamzn1.sym.3d22f59c-999f-414f-abf1-f4f8f78fce57&hsa_cr_id=5256496930001&pd_rd_plhdr=t&pd_rd_r=d79acee7-b603-44a6-abf5-e307e3210ebc&p
                d_rd_w=zEU0u&pd_rd_wg=Xce9W&qid=1656027408&ref_=s
                bx_be_s_sparkle_mcd_asin_0_title&sr=1-1-a094db1c-5033-42c6-82a2-587d01f975e8&th=1"  target="_blank"
              >Apple - Watch series 7 45mm (GPS + Cellular)</a
            >
          </li>
          <li>
            <a
              href="https://www.amazon.com.br/Apple-MLWK3BE-A-AirPods-Pro/dp/B09KM7KSZN/ref=sr_1_1_sspa?keywords=airpods+pro&qid=1656027489&sprefix=airpods+pro%2Ca
                ps%2C159&sr=8-1-spons&ufe=app_do%3Aamzn1.fos.25548f35-0de7-44b3-b28e-0f56f3f96147&psc=1&spLa=ZW5jcnlwdGVkUXVhbGlmaWVyPUEzVVM0SVJCU0JQME5SJmVuY3J5cHRlZEl
                kPUEwNjIyODg2M0pQNVVHSUE0TE5XUiZlbmNyeXB0ZWRBZElkPUEwMjQwODcxTjdOOVBZTE9XRUY1JndpZGdldE5hbWU9c3BfYXRmJmFjdGlvbj1jbGlja1JlZGlyZWN0JmRvTm90TG9nQ2xpY2s9dHJ
                1ZQ=="  target="_blank"
            >
              EarPod - Apple Airpods Pro
            </a>
          </li>
          <li>
            <a
              href="https://www.flexform.com.br/loja/assentos/cadeira-de-escritorio/cadeira-de-escritorio-flexform-uni-me-all-black"        target="_blank"
            >
              Chair - Flexform Uni AllBlack
            </a>
          </li>
          <li>
            <a
              href="https://www.flexform.com.br/loja/acessorios/deskpad
                "     target="_blank" 
              >DeskPad - Flexform DeskPad (790mm x 295mm x 2mm )</a
            >
          </li>
          <li>
            <a
              href="https://www.amazon.com.br/Echo-Dot-3%C2%AA-Gera%C3%A7%C3%A3o-Cor-Preta/dp/B07PDHSJ1H/ref=asc_df_B07PDHSJ1H/?tag=googleshopp00-20&linkCode=df
                0&hvadid=387692590979&hvpos=&hvnetw=g&hvrand=3002895291121655269&hvpone=&hvptwo=&hvqmt=&hvdev=c&
                hvdvcmdl=&hvlocint=&hvlocphy=1031854&hvtargid=pla-823375121002&psc=1
                "   target="_blank"
            >
              EchoDot - Alexa 3rd EchoDot ( without clock )
            </a>
          </li>
          <li>
            <a
              href="https://www.amazon.com.br/Condicionado-Split-LG-Inverter-S4Q09WA51A/dp/B082XFPY6L/ref=asc_df_B082XFPY6L
                /?tag=googleshopp00-20&linkCode=df0&hvadid=379712330853&hvpos=&hvnetw=g&hvrand=69324229338
                31804555&hvpone=&hvptwo=&hvqmt=&hvdev=c&hvdvcmdl=&hvlocint=&hvlocphy=1031854&hvtargid=pla-866796242836&psc=1
                " target="_blank"
            >
              AirConditioner - LG DUAL Inverter Voice (Alexa integration) 9000
              BTUs Frio
            </a>
          </li>
          <li>
            <a target="_blank"
              href="https://pt.aliexpress.com/item/1005002605250535.html?spm=a2g0o.productlist.0.0.59aabfbbHMbSNd&algo_pvid=f1c5493c-4128-44b9-a82a-0df8bcfc7e68&algo
                _exp_id=f1c5493c-4128-44b9-a82a-0df8bcfc7e68-8&pdp_ext_f=%7B%22sku_id%22%3A%2212000021361814921%22%7D&pdp_
                npi=2%40dis%21BRL%21%21547.33%21415.98%21%21%21%21%40210318b816560282197576661e1f41%2112000021361814921%21sea"
              >Keyboard - Keychron K3 d v2 thin wireless (75%)</a
            >
          </li>
        </ul>
      </div>

      <div>
        <h2 id="coding">Coding</h2>
        <ul>
          <li>
            <a href="https://spring.io/tools">Spring Suite Tools v4.1</a>
          </li>
        </ul>
      </div>
      <div>
        <h2 id="apps">Apps</h2>
        <ul>
          <li>
            <a
              href="https://www.spotify.com/br/premium/?utm_source=br-pt_brand_contextual-desktop_text&utm_medium=paidsearch&utm_campaign=alwayson_latam_br_premiumbusiness_core_brand+contextual-desktop+text+exact+br-pt+google&gclid=CjwKCAjwwdWVB
            hA4EiwAjcYJEPtCjfyURKenai6kDcrkPjgeuQllQ042fUZqFCn7TpF8O4ob1Qk25hoCHM8QAvD_BwE&gclsrc=aw.ds"
              >Spotify</a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
