<div class="container-fluid">
  <div class="row bgBlack central">
    <div class="col-6 bgBlack" id="divCol6">
      <h1 class="mt-1 c-dcthTY">Tools. Apps. Gear.</h1>

      <p>
        I've always dreamed this amazing setup but never had the condition
        nor time to build it. 
      </p>



      <p>
        So I decided to list every
        <strong class="text-white"
          >software and hardware </strong> that I plan on buying as well as my current
          setup.
        
        This not a static page, it's a <strong> living document </strong> with everything that I'm using nowadays.
      </p>

      <div class="d-flex flex-row mb-5 mt-5">
        <h3>
          <a href="#equipments">Office</a>
        </h3>
        <h3>
          <a href="#wishlist">WishList</a>
        </h3>
        <h3>
          <a href="#coding">Coding</a>
        </h3>
        <h3>
          <a href="#apps">Apps</a>
        </h3>
      </div>

      <div>
        <h2 class="text-white mb-4" id="equipments">Office</h2>
        <ul>
          <li>
            <a
              href="https://amzn.to/3TbjpOk"  target="_blank"
              >Laptop - Dell G15 5530 I7 (15.6", 2021) 16GB RAM 512GB SSD</a
            >
          </li>
          <li>
            <a target="_blank"
              href="https://a.co/d/1k4CAt9"
              >Mouse - Logitech M720 - Thriathlon
            </a>
          </li>
          <li>
            <a
              href="https://a.co/d/aTiAFSV"     target="_blank"
              >HeadPhone - Edifier W820NB</a
            >
          </li>
          <li>
            <a
              href="https://a.co/d/8C7d6UU"  target="_blank"
            >
              EarPod - AirPods Pro 2
            </a>
          </li>
          <li>
            <a
              href="https://a.co/d/3Prdvls" target="_blank"
              >Keyboard - Keychron k3 v2</a
            >
          </li>

          <li>
            <a
              href="https://a.co/d/41r6Luj" target="_blank"
            >
              Ar Condicionado - LG Dual Inverter 12.000 BTUS FRIO 220V	
            </a>
          </li>
        </ul>
      </div>

      <div>
        <h2 class="text-white" id="wishlist">WishList</h2>
        <ul>
          <li>
            <a
              href="https://amzn.to/3dUcSao"  target="_blank"
              >Apple - Watch series 7 45mm (GPS + Cellular)</a
            >
          </li>
          <li>
            <a
              href="https://amzn.to/3PEGGFv"  target="_blank"
            >
              EarPod - Apple Airpods Pro
            </a>
          </li>
          <li>
            <a
              href="https://www.flexform.com.br/loja/assentos/cadeira-de-escritorio/cadeira-de-escritorio-flexform-uni-me-all-black"        target="_blank"
            >
              Chair - Flexform Uni AllBlack
            </a>
          </li>
          <li>
            <a
              href="https://www.flexform.com.br/loja/acessorios/deskpad
                "     target="_blank" 
              >DeskPad - Flexform DeskPad (790mm x 295mm x 2mm )</a
            >
          </li>
          <li>
            <a
              href="https://www.amazon.com.br/Echo-Dot-3%C2%AA-Gera%C3%A7%C3%A3o-Cor-Preta/dp/B07PDHSJ1H/ref=asc_df_B07PDHSJ1H/?tag=googleshopp00-20&linkCode=df
                0&hvadid=387692590979&hvpos=&hvnetw=g&hvrand=3002895291121655269&hvpone=&hvptwo=&hvqmt=&hvdev=c&
                hvdvcmdl=&hvlocint=&hvlocphy=1031854&hvtargid=pla-823375121002&psc=1
                "   target="_blank"
            >
              EchoDot - Alexa 3rd EchoDot ( without clock )
            </a>
          </li>

          <li>
            <a target="_blank"
              href="https://amzn.to/3CvuTGq"
              >Keyboard - Keychron K3 d v2 thin wireless (75%)</a
            >
          </li>
        </ul>
      </div>

      <div>
        <h2 id="coding">Coding</h2>
        <ul>
          <li>
            <a href="https://spring.io/tools">Spring Suite Tools v4.1</a>
          </li>
        </ul>
      </div>
      <div>
        <h2 id="apps">Apps</h2>
        <ul>
          <li>
            <a
              href="https://open.spotify.com/"
              >Spotify</a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
