h1{
    font-size: 2.7rem;
    font-weight: bold;
    color: white;
    background-image: linear-gradient( 135deg, #ff80f0 0%, #80a2ff 100% );
    margin-bottom: 15px;
  
  }
  
  h1::selection {
    background: #ff80f0;
    color: rgb(0, 0, 0);
    -webkit-text-fill-color: rgb(0, 0, 0);
  }
  
  
  ::selection {
    color: #000000;
    background: #ff80f0;
  }
  
  
  






p{
  line-height: 1.8em;
}


h2{
  color: white;
}


h3{
  font-size: 18px;
  margin-right: 12pt;
}



li{
  margin-top: 5px;  
}
strong, i , a{
  color: white;
}


  div.fill{
    height: 100%;
    width: 100%;
  }



  a:hover{
    color: grey;
  }



  
@media (max-width: 575.98px) {

  button#bMobile {
    display: flex;
  }

  h1 {
    font-size: 2.8rem;
    font-weight: bold;
    margin-right: 0px;
  }
  p {
    margin-top: 2rem;
    line-height: 1.8rem;
    font-size: 1rem;
    margin-bottom: 0px;
  }
  strong {
    margin-top: 1rem;
    color: #fff;
    padding-top: 0%;
    padding-bottom: 0%;
    font-weight: 400;
  }
  


h3{
  font-size: 1rem;
  margin-right: 12pt;
}



li{
  margin-top: 5px;  
  font-size: 1rem;
}

div#divCol6{
  width: 100%;
}
}