<div class="container-fluid bgBlack">
  <div class="row bgBlack row-cols-2 d-flex" id="divCentral">

    <div class="fill">
      <br>
      <br>

    </div>
    <div class="col-6 bgBlack " id="divLeft">
      <h1 class="mb-3">About me.</h1>
      <img
        src="https://avatars.githubusercontent.com/u/72166193?v=4"
        alt=""
        width="370"
        height="370"
      />
    </div>
    <div class=" bgBlack" id="divRight">
      <div
      >
      <p>
        My name is Marcus, commonly known as <i>Trummer ('Marquito')</i> and I'm
        <i>25</i> years old.
      </p>
      <p>
        I'm a <strong>Backend developer</strong> , passionate about technology.
        I currently work as an <i>AEM Developer</i> at <i>Valtech_</i>, with 1
        year of experience at the following techs: HTML, CSS, TypeScript,
        Angular, Java and Spring.
      </p>
      <p>
        When I'm not working, I'm usually spending time with my dogs and family.
        I have a goal to run a marathon in the next few months so every saturday
        im training running 10km. you can keep track of my progress on my
        <a href="https://www.instagram.com/marcustrummer/" target="_blank"
          >instagram</a
        >
      </p>
    </div>
    </div>

    <div class="fill">
      <br>
      <br>
      <br>
      <br>
      <br>
    </div>
  </div>

</div>
