<div class="container-fluid">
  <div class="row bgBlack central">
    <div class="col-6" id="divCol6">
      <h1 class="mb-3 c-dcthTY">Create. Share. Repeat.</h1>

      <div id="divBOX">
        <div class="divAbout">
          <img
            src="https://avatars.githubusercontent.com/u/72166193?v=4"
            alt=""
            width="300"
            height="300"
          />
        </div>

        <div class="divAbout">
          <p>
            <i>Hey, I'm Marcus Trummer  </i>
            <button (click)="onPlayClick(audio)" class="buttonPlay m-0 p-0 collapsible-header">

                <i
                  class="fa fa-pause-circle-o button-grow"
                  aria-hidden="true"
                  *ngIf="isPaused"
                ></i>
                <i
                  class="fa fa-play-circle button-grow"
                  aria-hidden="true"
                  *ngIf="!isPaused"
                ></i>
            </button>
             I started as a software developer in
            2021, working with Java.
          </p>
          <audio controls #audio (pause)="onPause()">
            <source src="{{ src }}" type="audio/mpeg" />
          </audio>


          <p>
            I'm currently an <strong>AEM developer</strong> at Valtech_. Before
            that, I was junior Developer at Indra.. , I'm from Brazil, living in
            <i>Olinda, Pernambuco</i> with my amazing family and lovely dogs.
          </p>
          <p>
            <i>I love dark mode</i>
            , open source, and side projects. When I'm not working, I like
            running, watching movies, and <i>eating sushi.</i>
          </p>
        </div>
      </div>


      <h2>Bio</h2>
      <div >
        <blockquote style="

        display: block;
        margin-block-start: 1em;
        margin-block-end: 1em;
        margin-inline-start: 40px;
        margin-inline-end: 40px;"><p>My name is Marcus, but you can call me Marquito ✌🏻.</p>
        </blockquote>
      </div>

      <h2>Career</h2>

      <div style="margin-bottom: 40px" class="mt-3">
        <h3>AEM Developer</h3>
        <p style="margin: 0">
          <a href="https://www.valtech.com/pt-br/" target="_blank">Valtech_</a
            ><span>
              <span class="fw800"> • </span>
              Floripa, Santa Catarina</span
              >
            </p>
            <p style="margin: 0">
              <span>May 2022</span><span> – </span><span>Present</span
                ><span> <span class="fw800"> • </span> </span><span>10 months</span>
              </p>
            </div>
            <div style="margin-bottom: 40px" class="mt-3">
              <h3>Junior Backend Developer</h3>
              <p style="margin: 0">
                <a href="https://www.indracompany.com/pt-br/" target="_blank">Indra</a
                  ><span>
                    <span class="fw800"> • </span>
                    Joao Pessoa, Paraiba</span
                    >
                  </p>
                  <p style="margin: 0">
                    <span>Dec 2021</span><span> – </span><span>May, 2022</span
                      ><span> • </span><span>6 months</span>
                    </p>
                  </div>
                  <div style="margin-bottom: 40px" class="mt-3">
                    <h3>FullStack Developer</h3>
                    <p style="margin: 0">
                      <a href="https://facilitat.com.br/" target="_blank">Facilitat</a
                        ><span>
                          <span class="fw800"> • </span>
                          Recife, Pernambuco</span
                          >
                        </p>
                        <p style="margin: 0">
                          <span>Oct 2021</span><span> – </span><span>Dec, 2022</span
                            ><span class="fw800"> • </span><span>2 months</span>
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>

