<div class="container-fluid bgBlack">
  <div class="central row">
    <div class="col-6" style="text-align: justify" id="divCol6">
      <div
        style="justify-content: flex-start; align-items: center; display: flex"
      >
        <h1 class="mb-3 c-dcthTY d-flex">A Story. About. Time.</h1>
        <button class="collapsible-header" (click)="onPlayClick(audio)">
          <i
            class="fa fa-pause-circle-o button-grow"
            aria-hidden="true"
            *ngIf="isPaused"
          ></i>
          <i
            class="fa fa-play-circle button-grow"
            aria-hidden="true"
            *ngIf="!isPaused"
          ></i>
        </button>
      </div>
      <audio controls #audio (pause)="onPause()">
        <source src="{{ src }}" type="audio/mpeg" />
      </audio>
      <p>
        <strong>Time is the most important asset.</strong> Time does not equal
        money. <strong>Time equals life.</strong> And you only have one chance
        to make it right.
        <strong
          >Every human being is fighting a battle inside themselves.</strong
        >
        It's your <strong>obligation</strong> to help and
        <strong>inspire</strong> them. Regardless of what you do, you can always
        inspire others to do good. Nobody is better than you.
        <strong>And you're not better than anybody else.</strong> Be humble.
        Being in the <strong>comfort zone</strong> is wonderful, but nothing
        ever grows there. Keep studying. <strong>Keep creating.</strong> Haters
        will come if you have the
        <strong>audacity to build something new</strong>. Don't let them define
        you. <strong>Don't let them stop you.</strong> Just block them and keep
        going. Don't expect <strong>others to make you happy</strong>. You are
        the only one <strong>responsible for your happiness</strong>.
        <strong>Don't wait</strong> until friday to enjoy life. Joy should be
        present in everything you do. <strong>Be kind to your parents</strong>.
        They gave up many things for you. Having hundreds of
        <strong>people admiring you</strong> is worthless, if you're not admired
        by your own family. Don't fear the unknown. Fear knowing everything.
        <strong>Life is too damn short</strong> and every day counts.
        <strong>Do what you wanna do and do it now</strong>. Tick-tock don't
        stop. Tick-tock don't wait.
      </p>
      <p><em> - by Kazam </em></p>
    </div>

    <div class="fill">
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />

      <br />
      <br />
      <br />
    </div>
  </div>
</div>
