<div class="container-fluid">
  <div class="row bgBlack" id="divCentral">
    <div class="col-6" id="divCol6">
      <h1 class="c-dcthTY">Work, hobby & open source.</h1>
      <p>
        This page lists the top projects that I developed during my journey as
        a developer.
      </p>

      <h2>Top projects</h2>

      <div class="c-jyAlqJ">


        <a href="https://github.com/marcustrummer/Blog-Pessoal"  class = "c-kMyTwu span" target="_blank">
          <span>
            <div>
              <i class="fa fa-id-card" aria-hidden="true"></i>
            </div>
            <p class="p1W">Personal Blog</p>
            <p>
              Developed with Spring + Angular during bootcamp.
            </p>
          </span>
        </a>

        <a href="https://github.com/marcustrummer/noticeBoard---BackEnd" class="c-kMyTwu span" target="_blank">
          <span>
            <div>
              <i class="fa fa-bell-o" aria-hidden="true"></i>
            </div>

            <p class="p1W">Notice board</p>
            <p>Warn schedules and meetings. Checks status</p>
          </span>
        </a>
        <a href="https://github.com/marcustrummer/SpringJPA" class="c-kMyTwu span" target="_blank">
          <span>
            <div>
              <i class="fa fa-cart-arrow-down" aria-hidden="true"></i>
            </div>

            <p class="p1W">E-commerce</p>
            <p>
              Implements main design
              patterns with Restful API
            </p>
          </span>
        </a>
        <a href="https://github.com/marcustrummer/FoodieLand" class="c-kMyTwu span" target="_blank">
          <span>
            <div>
              <i class="fa fa-shopping-bag" aria-hidden="true"></i>
            </div>

            <p class="p1W">FoodieLand</p>
            <p>
              Built using Adobe Experience Manager  + Angular.
            </p>
          </span>
        </a>
      </div>

      <h2>All projects</h2>
      <div>
        <h3>2022</h3>
        <ul>
          <li>
            <a href="https://github.com/marcustrummer/SpringJPA" target="_blank"> E-commerce v_camp </a>
          </li>
        </ul>
      </div>

      <div>
        <h3>2021</h3>
        <ul>
          <li>
            <a href="https://github.com/marcustrummer/Blog-Pessoal" target="_blank"> Personal Blog </a>
          </li>
          <li>
            <a href="https://github.com/marcustrummer/noticeBoard---BackEnd" target="_blank"> Notice Board </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
