<nav class="navbar navbar-expand-sm navbar-dark bg-dark stroke">
    <div class="container-fluid">
      <div class="navbar-nav">
        <a class="nav-link" href="#">trummer</a>
      </div>
  
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div
        class="collapse navbar-collapse justify-content-center"
        id="navbarnavbarNavAltMarkup"
      >
        <div class="navbar-nav">
          <ul>
            <li>
              <a class="nav-link" routerLink="/about">About</a>
            </li>
          </ul>
        </div>
        <div class="navbar-nav">
          <ul>
            <li>
              <a class="nav-link" routerLink="/project">Project</a>
            </li>
          </ul>
        </div>
        <div class="navbar-nav">
          <ul>
            <li>
              <a class="nav-link" routerLink="/setup">Setup</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="navbar-nav">
        <a class="nav-link" href="#">exit</a>
      </div>
    </div>
  </nav>