<div class="container-fluid" id="container">
  <div class="row">
    <div class="col-12 bgBlack d-flex justify-content-center" id="divCentral">
      <h1>Marcus Trummer</h1>
      <p id="p1">
        <strong
          >Back-end AEM Developer  at
          <a href="https://infobase.com.br/" target="_blank">Infobase IT</a>. <br/>
        </strong>

        Crafting immersive digital experiences with AEM.
      </p>

      <button
        id="b1"
        class="bgBlack"
        data-bs-toggle="modal"
        data-bs-target="#exampleModal"
      >
        Press <kbd>ctrl</kbd> <kbd>K</kbd> to start →
      </button>
      <button
        id="bMobile"
        class="bgBlack"
        data-bs-toggle="modal"
        data-bs-target="#exampleModal"
      >
        Tap to start →
      </button>
    </div>
  </div>
</div>


