<div class="container-fluid" id="container">
  <div class="row">
    <div class="col-12 bgBlack d-flex justify-content-center" id="divCentral">
      <h1>Marcus Trummer</h1>
      <p id="p1">
        <strong
          >Back-end Developer | Developer AEM at
          <a href="https://www.valtech.com/pt-br/" target="_blank">Valtech_</a>.
          <br />
        </strong>

        A junior developer focused on learning AEM.
      </p>

      <button
        id="b1"
        class="bgBlack"
        data-bs-toggle="modal"
        data-bs-target="#exampleModal"
      >
        Press <kbd>ctrl</kbd> <kbd>K</kbd> to start →
      </button>
      <button
        id="bMobile"
        class="bgBlack"
        data-bs-toggle="modal"
        data-bs-target="#exampleModal"
      >
        Tap to start →
      </button>
    </div>
  </div>
</div>


