@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;300;400&display=swap');



html, body {
  min-height: 100vh;
  height: 100vh;
  margin: 0;
  overflow: auto;
  background: #08070b;
  overflow-x: hidden;
  overflow-y: auto;
}

.bgBlack {
  background-color: #08070b;
}

.central{
  display: flex;
  align-items: center;
  flex-direction: column;
}



::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-thumb {
  background-color: #000000;
  border-radius: 10px;
  border: 10px solid #000000;
}
::-webkit-scrollbar-track {
  background: #151417;
}

body{
  background: #08070b!important;
}


p{
    color: #8f9ba8;
}

  a{
    text-decoration: none!important;
  }
  

  .c-kcmNSe {
    padding: 8px 16px;
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 1px;
    background: var(--colors-command);
    cursor: auto;
  }
  

  .c-kMyTwu {
    display: flex;
    transition: opacity var(--transitions-duration) ease-in-out;
    border: 0px;
    border-radius: var(--radii-borderRadius);
    text-decoration: none;
    width: auto;
}

div.fill{
  user-select: none;
}

.c-dcthTY {
  background-size: 100%;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-box-decoration-break: clone;
}